* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background: linear-gradient(135deg, #ff00cc, #333399);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: #081b31;
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

.img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#paper-img {
  background-image: url(images/paper.png);
}

#rock-img {
  background-image: url(images/rock.png);
}

#scissors-img {
  background-image: url(images/scissors.png);
}

.score-bord {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 4rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: clamp(1rem, 10vw, 2rem);
  display: inline;
  padding: 0.5em;
  border-radius: 1rem;
  cursor: pointer;
}

#user-choice {
  background-color: #081b31;
  color: #fff;
  font-size: 1rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

#comp-choice {
  background-color: #081b31;
  color: #fff;
  font-size: 1rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

.total-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choices-continer {
  display: flex;
  gap: 5rem;
  margin-top: 4rem;
}

.choice:focus {
  background-color: green;
}

.choice {
  transition: transfrom 0.15s ease, box-shadow 0.15s ease;
}

/* .choice:active {
  transform: scale(0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
} */

.choice.animate {
  animation: clickBounce 0.3s ease;
}

@keyframes clickBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    height: auto;
    line-height: normal;
    padding: 1rem;
  }

  .choices {
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 3rem;
  }

  .choice {
    height: 114px;
    width: 114px;
    border-radius: 50%;
  }
  .img {
    height: 100px;
    width: 100px;
  }

  .score-bord {
    flex-direction: row;
    gap: 1.5rem;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  #user-score,
  #comp-score {
    font-size: 2.5rem;
  }

  #msg {
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
  }

  .msg-container {
    margin-top: 4rem;
  }

  .choices-continer {
    gap: 1rem;
  }

  #user-choice,
  #comp-choice {
    padding: 0.8rem;
  }
}

@media (max-width: 500px) {
  #user-choice,
  #comp-choice {
    padding: 0.4rem;
  }
}
